.nav-color {
  background-color:  #e5e5e5;
}

.header-stick-right{
  float: right;
}

.date-separator-text{
  font-size: 20pt;
}

.center-text{
  text-align: center;
}

.form-control{
  margin: auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disp-flex{
  display: flex;
}
